<?xml version='1.0' encoding='utf-8'?>
<widget id="it.unipi.tirocinio.crossplatform.degradoAmbientale" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Degrado Ambientale</name>
    <description>
        Applicazione per segnalazioni di degrado ambientale.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Bertelli Mirco, Pratesi Maurizio
    </author>
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="android" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <access origin="*"/>
    <content src="index.html" />
</widget>
